.singleAnyItemWrapper {
}
.singleAnyItemWrapper:hover {
}
.singleAnyItemTitle {
  font-size: 22px;
  font-family: Arial, sans-serif;
  font-weight: 500;
}
.singleAnyItemField{

}
.singleAnyItemFieldText{
}